/* Importing the fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
}

.A{
  color: #888e96;
  font-size: 14px;
}

.B{
  color: #1c355e;
  font-size: 16px;
  font-weight: bolder;
  
}

.C{
  color: #696f77;
  font-size: 16px;
  font-weight: 600;
}

.D{
  color: #1c355e;
  font-size: 14px;
}


.E{
  color: #f6a800;
}

.F{
  color: #428bca;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
table{
  display: flex;
  flex-direction: column;
}
.timeInfo{
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

.timeInfo div.A{
  /* background-color: #1c355e; */
  width: 80px;
  display: flex;
  justify-content: flex-start;
}

/* Status */
.status{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
}

.statusTitle::first-letter{
  text-transform: uppercase;
}

.town::first-letter{
  text-transform: uppercase;
}

.statusBox{
  display: flex;
  width: 25vw;
}

.statusInfo{
  display: flex;
  flex-direction: column;
  flex: 4;
}
.locationInfo{
  display: flex;
  justify-content: flex-start;
  flex:2;
}
/* Path */
.pathAssets{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5vw;
}
.pathYellow{
  border: 1px solid #f6a800;
  width: 1px;
  border-radius: 2px;
  height: 50px;
  margin-top: 2px;
  animation: heightToMax 3s ease-in-out 1s 1 forwards  ;
}
.pathBlue{
  border: 1px solid #428bca;
  border-radius: 2px;
  width: 1px;
  height: 50px;
  margin-top: 2px;
  animation: heightToMax 3s ease-in-out 1s 1 forwards ;
}

.dotYellow{
  border-radius: 50%;
  border-width: 4px;
  text-align: center;
  width: 14px;
  height: 14px;
  background-color: #f6a800;
}
.dotBlue{
  border-radius: 50%;
  border-width: 4px;
  text-align: center;
  width: 14px;
  height: 14px;
  background-color: #428bca;
}

tr{
  display: flex;
}
.title{
  margin-bottom: 14px;
}
.mb-6{
  margin-bottom: 4px;
}
.check{
  font-size: 22px;
}

/* Locate icon */
.locateIcon{
  font-size: 16px;
  border: 2px solid #428bca;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 1px;
  overflow: hidden;
  text-align: center;
}
.hide{
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .timeInfo{
      display: flex;
      flex-direction: column;
      margin-left: 0;
      text-align: center;
      width: 18vw;
  }
  .timeInfo div.A{
    /* background-color: #1c355e; */
    width: auto;
    display: block;
    /* justify-content: flex-start; */
  }
  .statusBox{
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      align-items: flex-start;
      width: 55%;
  }
  .locationInfo{
      display: flex;
      justify-content: flex-start;
  }
  .pathAssets{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 10px;
      margin-right: 10px;
      width: 20px;
  }
  tr{
      display: flex;
      align-items: flex-start;
      justify-content: center;
  }
  .title{
    text-align: left;
    margin-left: 30px;
  }
}

/* Height to max animation */
@keyframes heightToMax {
  from {
    height:0;
  }
  to {
    height: 50px;
  }
}
